<%= form_for(@survey, url: home_index_path) do |f|%>
  <div>
    Name: <%= f.text_field :name %>
  </div>
  <div>
    Favorites:<br>
    <% ary = [:chocolate, :rainbow, :puppies, :cash] %>
    <% item = ary.shift %>
    <% while item do %>
      <%= f.check_box item %> <%= item.to_s.capitalize %><br>
      <% item = ary.shift %>
    <% end %>
  </div>
    <%= f.submit id: "submit"%>
<% end %>
